<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p><%=results.name%></p> 
    <img src="<%=results.image%>" alt=""> 
    <p><%=results.level%></p> 

    <form action="/delete/<%=results.id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    
    </form>
<form action="/updat/<%=results.id%>?_method=PUT" method="POST">
  <input type="text" name="name" value="<%=results.name%>">
   <input type="text" name="image" value="<%=results.image%>">
    <input type="text" name="level" value="<%=results.level%>">
    <button type="submit">Updat</button>

</form>

</body>
</html>